<div class="row">
  <div class="span6 offset3">
    <div class="form-wrap">	
			<h2>Sign up</h2>

			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
			  <%= devise_error_messages! %>

			  <div>
			  	<%= f.label :email %>
			    <%= f.email_field :email, :autofocus => true %>
			  </div><br />

			  <div>
			  	<%= f.label :password %>
			    <%= f.password_field :password %>
			  </div><br />

			  <div>
			  	<%= f.label :password_confirmation %>
			    <%= f.password_field :password_confirmation %>
			  </div><br />

			  <div>
			  	<%= f.submit "Sign up", class: "btn btn-primary" %>
			  </div>
			<% end %>
		</div>
	</div>
</div>

<%= render "devise/shared/links" %>
