<!DOCTYPE html>
<html lang="en">
  <head>
    <title>404 Error></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/meta' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= render 'layouts/error' %>
    	<h1>Page Not Found</h1>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
  <%= render 'layouts/footer' %>
</html>