<% provide(:title, "Style Guide") %>
<h1 class="page-title">Style Guide</h1>
<h3 style="text-align: center; font-family:book;">(Click To Flip)</h3>
<div class="style-board-container">
	<div class="row">
		<div class="col-md-3 board">
			<div class="flip-board" id="1">
			  <div><%= image_tag "style1.jpg", alt: "style board1", class: "img-responsive" %></div>
			  <div class="slide1">
			  	<h4>1. Decide what you want your images to show about the subject(s):</h4>
			  	<p>
			  		Urban chic? Laidback? Fun? Elegant? Alternative? Preppy? Vintage? 
						Once you decide the general style you want to portray, you immediately narrow down your options 
						to fit that style. Different locations can also help emphasize the look you want to achieve. 
					</p>
			  </div>
			</div>
		</div>
		<div class="col-md-3 board">
			<div class="flip-board2" id="2">
			  <div><%= image_tag "style2.jpg", alt: "style board1", class: "img-responsive" %></div>
			  <div class="slide2">
			  	<h4>2. Let the kids participate in choosing.</h4>
			  	<p>
			  		Getting them involved in the process will help them feel more invested in the shoot, 
			  		and therefore, more excited to participate.
			  	</p>
			  </div>
			</div>
		</div>
		<div class="col-md-3 board">
			<div class="flip-board3" id="3">
			  <div><%= image_tag "style3.jpg", alt: "style board1", class: "img-responsive" %></div>
				<div class="slide3">
					<h4>3. Start with a favorite and build around it.</h4>
					<p>
						Use one piece as your statement or inspiration and work everyone else’s outfits 
						around complementary colors. If it’s bold or patterned, use some neutrals to even 
						it out and tie everything with little touches elsewhere.
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-3 board">
			<div class="flip-board4" id="4">
			  <div><%= image_tag "style4.jpg", alt: "style board1", class: "img-responsive" %></div>
				<div class="slide1">
					<h4>4. Wear something you can move in.</h4>
					<p>
						Your outfit should allow you to play, sit comfortably, pick up your kids, and 
						just move naturally. Likewise, if an outfit is restrictive or uncomfortable for kids, 
						the pictures will show that. 
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 board">
			<div class="flip-board5" id="5">
			  <div><%= image_tag "style5.jpg", alt: "style board1", class: "img-responsive" %></div>
				<div class="slide2">
					<h4>5. Incorporate details: texture, layering, and accessories.</h4>
					<p>
						Pull it all together by accenting outfits with scarves, jewelry, hats, or a 
						pop of color in your shoes. This is also an opportunity to bring out some personality!
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-3 board">
			<div class="flip-board6" id="6">
			  <div><%= image_tag "style6.jpg", alt: "style board1", class: "img-responsive" %></div>
				<div class="slide3">
					<h4>6. Avoid lots of neon and big logos.</h4>
					<p>
						We want your wardrobe to enhance you, not steal the show. Neons can create odd 
						color casting on your skin in photos and large logos are just distracting.
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-3 board">
			<div class="flip-board7" id="7">
			  <div><%= image_tag "style7.jpg", alt: "style board1", class: "img-responsive" %></div>
				<div class="slide1">
					<h4>7. Choose clothing that is true to your typical style</h4>
					<p>
						and in which you feel confident and comfortable; it will show! If you feel self-conscious 
						or constantly need to adjust clothing, it will distract and take away from your 
						experience and the fun you could be having.
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-3 board">
			<div class="flip-board8" id="8">
			  <div><%= image_tag "style8.jpg", alt: "style board1", class: "img-responsive" %></div>
				<div class="slide2">
					<h4>8. Consider incorporating meaningful props.</h4>
					<p>
						Favorite toy? The blanket from your living room? A soccer ball to kick around? 
						Sometimes just something familiar to hold or interact with makes all the difference 
						for letting loose in front of the camera. Plus, it adds something unique to your session.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 style-important">
			<b>MOST IMPORTANTLY:</b>
			<p>
				Use these tips as guidelines for where to start and come up with a few ideas before our 
				in-person meeting and I’ll be more than happy to help pull together a look that works 
				perfectly during our planning time. I also have tons of props and accessories available to 
				incorporate in shoots if they fit the look. I promise I can help you find the ideal styling 
				to fit your vision! Head over to my Pintrest page for more ideas and inspiration for What to Wear!
			</p>
		</div>
	</div>
</div>

<script type="text/javascript">
  $( '.flip-board' ).cycle({
    fx: "flipVert",
    next: '#1', 
    timeout: 0,
    slides: "> div"
  });
  $( '.flip-board2' ).cycle({
    fx: "flipHorz",
    next: '#2', 
    timeout: 0,
    slides: "> div"
  });
  $( '.flip-board3' ).cycle({
    fx: "flipVert",
    next: '#3', 
    timeout: 0,
    slides: "> div"
  });
  $( '.flip-board4' ).cycle({
    fx: "flipHorz",
    next: '#4', 
    timeout: 0,
    slides: "> div"
  });
  $( '.flip-board5' ).cycle({
    fx: "flipHorz",
    next: '#5', 
    timeout: 0,
    slides: "> div"
  });
  $( '.flip-board6' ).cycle({
    fx: "flipVert",
    next: '#6', 
    timeout: 0,
    slides: "> div"
  });
  $( '.flip-board7' ).cycle({
    fx: "flipHorz",
    next: '#7', 
    timeout: 0,
    slides: "> div"
  });
  $( '.flip-board8' ).cycle({
    fx: "flipVert",
    next: '#8', 
    timeout: 0,
    slides: "> div"
  });
</script>


<%= link_to "Back", toolkit_path, class: "btn btn-primary" %>