<% provide(:title, "Edit Post") %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="form-wrap">
      <h2 class="form-title">Edit post</h2> 
      <%= form_for :post, url: post_path(@post.id), method: :patch do |f| %>
        <% if @post.errors.any? %>
        <div id="errorExplanation">
          <p class="alert"><%= pluralize(@post.errors.count, "error") %> 
            prohibited this post from being saved:
          </p>
          <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
        <% end %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title %>
        </div>
       
        <div class="form-group">
          <%= f.label :text %>
          <%= f.text_area :text, rows: "16" %>
        </div>

        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, rows: "5" %>
        </div>

        <div class="form-group">
          <%= f.label :cover_image, "Preview Image (900x400)" %>
          <%= f.file_field :cover_image %>
        </div>
       
        <%= f.submit "Edit", class: "btn btn-primary" %>
        
      <% end %>
    </div>
  </div>
</div>
       
<%= link_to 'Back', posts_path %>