<% provide(:title, "#{@post.title}") %>
<h1>L.O. Photography</h1>

<h2 class="post_title"><%= @post.title %></h1>
<h3 class="post_time"><%= @post.created_at.strftime("%B %d, %Y") %></h3>

<div class="row">
  <div class="span8 offset2">
    <div class="markdown">
      <%= markdown(@post.text) %>
    </div>
  </div>
</div>


<h2>Comments</h2>
<%= render @post.comments %>

<div class="row">
  <div class="span6 offset3">
    <div class="form-wrap"> 
			<h2>Add a comment:</h2>
			<%= form_for([@post, @post.comments.build]) do |f| %>
			  <div>
			    <%= f.label :body %>
			    <%= f.text_area :body %>
			  </div><br />
			  
        <div>
			    <%= f.submit "Submit Comment", class: "btn btn-primary" %>
			  </div>
			<% end %>
		</div>
	</div>
</div>

<%= link_to 'Back', posts_path %>
| <%= link_to 'Edit', edit_post_path(@post) %>