<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="form-wrap">
      <h2 class="form-title">New Image</h2>
      <%= form_for [@gallery, @gallery.gallery_images.new], html: { multipart: true } do |f| %>
        <% if @gallery.gallery_images.build.errors.any? %>
          <div id="error_explanation">
            <div class="alert alert-error">
              The form contains <%= pluralize(@gallery.gallery_images.build.errors.count, "error") %>.
            </div>
            <ul>
              <% @gallery.gallery_images.build.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.label :image, "Upload Image:" %>
        <%= f.file_field :image, multiple: true, name: "gallery_image[image]" %>
        
      <% end %>

    </div>
  </div>
</div>
