<div>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div><br />

<div>
  <%= f.label :description %>
  <%= f.text_field :description %>
</div></br />

<div>
  <%= f.label :preview_image %>
  <%= f.file_field :preview_image %>
</div><br />

<div>
  <%= f.submit "Submit Gallery", class: "btn btn-primary" %>
</div>