<% provide(:title, "Edit Gallery") %>
<h1 class="page-title">Edit Gallery</h1>
 
<div class="row">
  <div class="col-md-6 col-md-offset-3"> 
    <div class="form-wrap">
      <%= form_for :gallery, url: gallery_path(@gallery.id), method: :patch do |f| %>
        <%= render 'gallery_errors' %>
        
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
       
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, rows: "5" %>
        </div>

        <div class="form-group">
          <%= f.label :preview_image, "Preview Image (750x350)" %>
          <%= f.file_field :preview_image %>
        </div>
       
        <%= f.submit "Submit Gallery", class: "btn btn-primary" %>
        
      <% end %>
    </div>
  </div>
</div>
<%= link_to 'Back', galleries_path, class: "btn btn-primary" %>