<% provide(:title, "Gallery") %>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-title">Firefly Photography</h1>
    </div>
  </div>
  <% @galleries.each do |gallery| %>
    <div class="row">
      <div class="col-md-7">
        <%= link_to("#{image_tag gallery.preview_image.url(:original), :class => "img-responsive pic"}".html_safe, gallery_path(gallery)) %>  
      </div>

      <div class="col-md-5">
        <h2 class="gallery-title"><%= gallery.name %></h2>
        <p><%= gallery.description %></p>
        <div class="sed gallery-sed">
          <%= link_to 'View Gallery', gallery_path(gallery), :class => "btn btn-primary" %>
          <% if current_user && current_user.admin? %>
            <%= link_to 'Edit', edit_gallery_path(gallery), :class => "btn btn-warning" %>
            <%= link_to 'Delete', gallery_path(gallery),
                            method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
    <% unless gallery == @galleries.last %>
      <hr class="gallery-hr" />
    <% end %>
  <% end %>
</div>