<%= form_for inquiry do |f| %>
  <% if inquiry.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        The form contains <%= pluralize(inquiry.errors.count, "error") %>.
      </div> 
      <ul> 
        <% inquiry.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="display: none;">
    <%= f.label :nickname %><br/>
    <%= f.text_field :nickname %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :autofocus => true %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, :autofocus => true %>
  </div>

  <div class="form-group">
    <%= f.label :message %>
    <%= f.text_area :message, :autofocus => true, rows: "8" %>
  </div>

  <%= f.submit "Send", class: "btn btn-primary" %>
  
<% end %>