<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <%= link_to "L.O. Photography", root_path, :class => "brand", :id => "logo" %>
      <div class="nav-collapse collapse">
        <nav>
          <ul class="nav pull-left">
            <% if current_user && current_user.admin? %>
              <li class="dropdown <%='active' if current_page?(galleries_path) | current_page?(new_gallery_path) %>">
                <%= link_to 'Gallery <b class="caret"></b>'.html_safe, "#", :data => {:toggle=>"dropdown"}, :class => "dropdown-toggle" %>
                <ul class="dropdown-menu", role="menu" aria-labelledby="dLabel">
                  <li><%= link_to "New Gallery", new_gallery_path %></li>
                  <li><%= link_to "Galleries", galleries_path %></li>
                </ul>
              </li>
            <% else %>
              <li class="<%='active' if current_page?(galleries_path) %>"><%= link_to "Gallery", galleries_path %></li>
            <% end %>
            <% if current_user && current_user.admin? %>
              <li class="dropdown <%='active' if current_page?(posts_path) | current_page?(new_post_path) %>">
                <%= link_to 'Blog <b class="caret"></b>'.html_safe, "#", :data => {:toggle=>"dropdown"}, :class => "dropdown-toggle" %>
                <ul class="dropdown-menu", role="menu" aria-labelledby="dLabel">
                  <li><%= link_to "New Post", new_post_path %></li>
                  <li><%= link_to "All Posts", posts_path %></li>
                </ul>
              </li>
            <% else %>
              <li class="<%='active' if current_page?(posts_path) %>"><%= link_to "Blog", posts_path %></li>
            <% end %>
            <li class="<%='active' if current_page?(about_path) %>"><%= link_to "About Me", about_path %></li>
            <li class="<%='active' if current_page?(information_path) %>"><%= link_to "Information", information_path %></li>
          </ul><!-- end .nav. .pull-left -->
          <ul class="nav pull-right">
            <% if user_signed_in? %>
              <li id="fat-menu" class="dropdown <%='active' if current_page?(edit_user_registration_path) %>">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
                  <li><%= link_to 'Help', help_path %></li>
                  <hr />
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to "Sign in", new_user_session_path %></li>
            <% end %>
          </ul><!-- end .nav .pull-right -->
        </nav>
      </div><!-- end .nav-collapse -->

    </div><!-- end .container -->
  </div><!-- end .navbar-inner -->
</header>