<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <%= link_to "Firefly <br /><small>photography</small>".html_safe, root_path, :class => 'navbar-brand' %>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">  
    <ul class="nav navbar-nav navbar-left">
      <% if current_user && current_user.admin? %>
        <li class="dropdown <%='active' if current_page?(galleries_path) | current_page?(new_gallery_path) %>">
        <%= link_to 'Gallery <b class="caret"></b>'.html_safe, "#", :data => {:toggle=>"dropdown"}, :class => "dropdown-toggle" %>
          <ul class="dropdown-menu">
            <li><%= link_to "New Gallery", new_gallery_path %></li>
            <li><%= link_to "Galleries", galleries_path %></li>
          </ul>
        </li>
      <% else %>
        <li class="<%='active' if current_page?(galleries_path) %>"><%= link_to "Gallery", galleries_path %></li>
      <% end %>
      <% if current_user && current_user.admin? %>
        <li class="dropdown <%='active' if current_page?(posts_path) | current_page?(new_post_path) | current_page?(tag_path(:tag, controller: "posts")) %>">
        <%= link_to 'Blog <b class="caret"></b>'.html_safe, "#", :data => {:toggle=>"dropdown"}, :class => "dropdown-toggle" %>
          <ul class="dropdown-menu">
            <li><%= link_to "New Post", new_post_path %></li>
            <li><%= link_to "All Posts", posts_path %></li>
          </ul>
        </li>
      <% else %>
        <li class="<%='active' if current_page?(posts_path) %>"><%= link_to "Blog", posts_path %></li>
      <% end %>
      <li class="<%='active' if current_page?(about_path) %>"><%= link_to "About Me", about_path %></li>
      <li class="<%='active' if current_page?(information_path) %>"><%= link_to "Information", information_path %></li>
      <li class="<%='active' if current_page?(contact_path) %>"><%= link_to "Contact", contact_path %></li>
    </ul><!-- end nav navbar-nav navbar-left -->
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li id="fat-menu" class="dropdown <%='active' if current_page?(edit_user_registration_path) | current_page?(help_path) | current_page?(users_path) | current_page?(current_user) %>">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Account <b class="caret"></b>
        </a>
          <ul class="dropdown-menu">
            <li><%= link_to "My Profile", current_user %></li>
            <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
            <li><%= link_to 'Help', help_path %></li>
            <% if current_user && current_user.admin? %>
              <li><%= link_to "Admin", users_path %></li>
            <% end %>
            <hr class="header-hr"/>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Sign in", new_user_session_path %></li>
      <% end %>
    </ul><!-- end nav navbar-nav navbar-right -->
  </div><!-- end collapse navbar-collapse navbar-ex1-collapse -->
</nav>